@import 'stylesheets/root.css';
@import 'stylesheets/color.css';
@import 'stylesheets/flexbox.css';
@import 'stylesheets/grid.css';
@import 'stylesheets/misc.css';
@import 'stylesheets/position.css';
@import 'stylesheets/size.css';


* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}