.bg-white {
    background-color: var(--white);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-black {
    background-color: var(--black);
}

.text-white {
    color: var(--white)
}
.text-gray {
    color: var(--gray)
}
.text-black {
    color: var(--black)
}

.fill-white {
    filter: invert(96%);
}
.fill-gray {
    filter: invert(31%);
}
.fill-black {
    filter: invert(10%);
}