.grid {
    display: grid;
}

.g-row-1  {
    grid-template-rows: 1fr;
}
.g-row-2  {
    grid-template-rows: 1fr 1fr;
}
.g-row-3  {
    grid-template-rows: 1fr 1fr 1fr;
}
.g-col-1  {
    grid-template-columns: 1fr;
}
.g-col-2  {
    grid-template-columns: 1fr 1fr;
}
.g-col-3  {
    grid-template-columns: 1fr 1fr 1fr;
}