.bd-circle {
    border-radius: 50%;
}
.bd-round {
    border-radius: 50px;
}

.link {
    color: unset
}
.link:hover {
    text-decoration: underline;
}

.navlink {
    color: unset
}
.navlink:hover {
    color: var(--black);
    background-color: var(--white);
}