.block {
    display: block;
}

.pos-absolute {
    position: absolute;
}
.pos-fixed {
    position: fixed;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.t-0 {
    top: 0;
}
.r-0 {
    right: 0;
}
.r-1 {
    right: 1em;
}
.b-0 {
    bottom: 0;
}
.b-4 {
    bottom: 4em;
}
.l-0 {
    left: 0;
}

.p-09 {
    padding: 0.9em;
}
.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 2em;
}
.p-3 {
    padding: 3em;
}
.p-4 {
    padding: 4em;
}
.p-5 {
    padding: 5em;
}
.pb-2 {
    padding-bottom: 3em;
}
.pl-2 {
    padding-left: 2em;
}
.pl-3 {
    padding-left: 3em;
}
.pl-5 {
    padding-left: 5em;
}
.pr-1 {
    padding-right: 1em;
}
.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.px-1 {
    padding-right: 1em;
    padding-left: 1em;
}
.px-2 {
    padding-right: 2em;
    padding-left: 2em;
}
.px-5 {
    padding-right: 5em;
    padding-left: 5em;
}
.px-8 {
    padding-right: 8em;
    padding-left: 8em;
}

.m-03 {
    margin: 0.3em;
}
.mr-1 {
    margin-right: 1em;
}

.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}

.rot-90 {
    transform: rotate(90deg)
}
.rot-n90 {
    transform: rotate(-90deg)
}

.obj-cover {
    object-fit: cover;
}

.text-vertical {
    writing-mode: vertical-lr;
}
.text-upright {
    text-orientation: upright;
}
.text-sideways {
    text-orientation: sideways;
}
.spacing-n3 {
    letter-spacing: -3px;
}
.flip {
    transform: scale(-1,-1);
}