.h-0 {
    height: 0;
}
.h-1 {
    height: 1em;
}
.h-2 {
    height: 2em;
}
.h-3 {
    height: 3em;
}
.h-4 {
    height: 4em;
}
.h-5 {
    height: 5em;
}
.h-14 {
    height: 14em;
}
.h-75 {
    height: 75%;
}
.h-90 {
    height: 90%;
}
.h-full {
    height: 100%;
}
.h-fullscreen {
    height: 100vh;
}
.w-0 {
    width: 0;
}
.w-1 {
    width: 1em;
}
.w-2 {
    width: 2em;
}
.w-3 {
    width: 3em;
}
.w-4 {
    width: 4em;
}
.w-5 {
    width: 5em;
}
.w-25 {
    width: 25em;
}
.w-75 {
    width: 75%;
}
.w-90 {
    width: 90%;
}
.w-full {
    width: 100%;
}
.w-fullscreen {
    width: 100vw;
}

.font-xs {
    font-size: x-small;
}
.font-l {
    font-size: large;
}
.font-xl {
    font-size: x-large;
}
.font-xxl {
    font-size: xx-large;
}